PORT=8000
MONGODB_URI=mongodb+srv://aasthakumari2428_db_user:AasthaMongo2026@cluster0.r0jqstv.mongodb.net/quizlive?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_random
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=production
